body {
    background-image: url('../IMG/Fondo1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; /* La imagen se estirará para llenar todo el contenido */
    background-position: center;
    min-height: 100vh;
    width: 100%;
}

    .text-center{
        
        text-align: center;
    }
    .card-body {
        background-color: #69b1ef; /* Color de fondo */
        padding: 20px; /* Espaciado alrededor del contenido de la tarjeta */
    }
    .mb-5{
        
        background-color: pink;
    }
    .mb-3{
        text-align: center;
        display: flex;
        justify-content: center; /* Centra horizontalmente */
    }
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }
    .card:hover {
        transform: scale(1.05);
    }
    .card-img-top {
        border-bottom: 2px solid #df0a0ab7;
    }
    .radio-buttons {
        display: flex;
        justify-content: center;
    }